{
	"email" : "",
	"password" : "",
	"bot_token" : "NTU1NDMzMDExOTI0MTcyODAw.D2rG0Q.GXApsXowIcI4Ml811Ezq7jLBytM",
	"client_id" : "555433011924172800",
	"youtube_api_key": "AIzaSyDMWiz_BDB7ZuTOUuTs5B4ukib_cMyhXIo",
	"google_custom_search": "005616695995304315122:8oezxc1r7v8"
}
